section.hero{ 
    display: flex;
    position: relative;   

    max-width: 80rem;
    width: 100%; 
    margin-inline: auto;
 

    & > img{  
        max-width: 80rem;
        width: 100%;
        height: 100%;
    }
    
    & header{
        position: absolute; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 3.5rem 10rem;

        & a {
            background: var(--pink-dark);

            padding: 0.75rem 1.25rem;
            border-radius: 0.5rem;
            font: var(--button);
            color: var(--text-title);

            position: relative;  
            
            &:hover::after {
                transform: scaleX(1);
            }
        }
        
        & a::after {
            content: "";

            width: 100%;
            height: 100%;

            background-color: var(--pink-light);

            position: absolute;

            top: 0;
            left: 0;
            
            border-radius: 0.7rem;


            transform: scaleX(0);

            transform-origin: center; 

            transition: transform 200ms linear;

            opacity: 0.1;
        }
        
        
    }
}