section.magic-book{
    display: flex;
    flex-direction: column;
    gap: 5.5rem;

    & header{
        display: flex;
        flex-direction: column;
        gap: 5px;

        & .title{
            display: flex;
            align-items: center;
            justify-content: center; 
            margin-inline: auto;
            width: 100%;
            gap: 1rem;
        }
    
        & p{
            text-align: center;
            font: var(--body-md);
            color: var(--text-body);
            opacity: 0.9;
        }
    }
    
    & .book{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        flex-wrap: wrap;
        position: relative; 
        width: 100%; 
        padding-top: 5.5rem;

        & .book-animate{ 
            img{
                width: 100%;
                max-height: 39rem;
                object-fit: cover;
            }
        }

        & .animation{ 
            position: absolute;
            opacity: 0;  

            & img:nth-child(1){
                width: 10.75rem;
                height: 33.5rem; 
                position: inherit;
                z-index: -1;
                transform: translate(11.5rem, -25rem) rotate(12deg);
            }

            & img:nth-child(2){
                width: 10.75rem;
                height: 33.5rem; 
                position: inherit;
                z-index: -2;
                transform: translate(17rem, -15rem) rotate(22deg);
            }

            & img:nth-child(3){
                width: 13.875rem;
                height: 15.875rem;
                position: inherit;
                z-index: -1;
                transform: translate(-23.8rem, 9.5rem) rotate(-8deg);
            }
            
            & img:nth-child(4){
                width: 6.5625rem;
                height: 7.9375;
                position: inherit;
                transform: translate(-26.5rem, 4.5rem);
            }

            & img:nth-child(5){
                width: 9.0625rem;
                height: 9.5rem;
                position: inherit;
                transform: translate(15rem, 16rem);
            }

            & img:nth-child(6){
                width: 10.9375rem;
                height: 1.875rem;
                position: inherit;
                
                transform: translate(-23rem, -21rem);
            }

            & p{ 
                font: var(--body-md);
                color: var(--text-body);
                opacity: .9; 
                width: max-content;
            }

            & p:nth-child(7){  
                position: absolute;
                transform: translate(-26.5rem, -23rem);
            }

            & p:nth-child(8){  
                position: absolute;
                transform: translate(-26.8rem, 2.5rem);
            }

            & p:nth-child(9){  
                position: absolute;
                transform: translate(11rem, 26rem); 
                animation-delay: 2s;
            }
        }
    }

    & .book:hover{
        & .animation{
             opacity: 1;
             z-index: -1;
             animation: showAnimation .5s ease-in-out ;
        }
    }
}

@keyframes showAnimation {
    0% {
        opacity: 0;
        transform: translateY(50px) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
