section.signature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    width: 100%; 
    height: 77.125234rem; 
    gap: 3.5rem;
    position: relative;
 

    & h2{
        text-align: center;
    }

    & .card{
        border: 1px solid var(--shape-stroke);
        border-radius: 1.5rem;
        background-color: var(--shape-base);
        width: 18rem;
        height: 26rem;

        display: flex;
        flex-direction: column; 
        padding: 2rem;
        position: relative;
        justify-content: space-between;

        transition: transform 500ms ease-in-out;

    }

    & ul{
        display: flex;
        flex-direction: column;
        list-style-type: none; 
        padding-left: 1.5rem;
        gap: .75rem;
    }

    & li{
        position: relative;
        font: var(--body-xs);
        color: var(--text-body);
        opacity: 0.9;
    }

    & li::before{
        content: "";
        position: absolute;
        transform: translateX(-1.5rem); 
        width: .875rem;
        height: .875rem;
    }

    & .pricing{
        display: flex;
        flex-direction: row; 
        position: relative;
        width: max-content;
        align-items: center;
        z-index: 1;

        & a{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            color: var(--text-title);
            font: var(--button);
            padding: .75rem;
            border-radius: .5rem;
            position: relative;
        }

        & .card .popular{
            position: absolute;
            top: 1.5625rem;
            right: 1.5625rem;
            color: var(--text-body);
            font: var(--tag);

            background-color: var(--shape-stroke);
            border-radius: 9999px;

            padding: 0.5625rem 1.25rem;
        }

        & .price{
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }

        & .header{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        & .content{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        & .card:nth-child(1){  
            position: absolute;
            z-index: -1;
            transform: translate(-27rem , 23rem) rotate(-8deg);

            & .header{

                & > p{
                    font: var(--title-xs);
                    color: var(--blue-light);
                }

                & .price{

                    & p{
                        font: var(--title-md);
                        color: var(--text-title);

                        & small{
                            color: inherit;
                            font: var(--title-xs);
                        }

                        & .lower {
                            position: relative;
                            top: 4px; 
                        }
                    }

                    & p + small{
                        font: var(--body-sm);
                        color: var(--text-label);
                        opacity: .8;

                        & .lower {
                            position: relative;
                            top: 1px; 
                        }
                    }
                }
            }

            & li::before{
                background: url('../assets/icons/star-blue.svg') no-repeat center;
                background-size: contain;
            }

            & a{
                background-color: var(--blue-dark);

                &:hover::after {
                    transform: scaleX(1);  
                    opacity: 0.2;
                }
            }

            & a::after {
                content: "";
    
                width: 100%;
                height: 100%;
    
                background-color: var(--blue-light);
    
                position: absolute;
    
                top: 0;
                left: 0;
    
                border-radius: 7px;
    
                transform-origin: center;
    
                transform: scaleX(0);  
                transition: transform 200ms linear;
                
                opacity: 0.2;
            }
        }

        & .card:nth-child(2){  
            transform: translate(-9rem , 20rem);
            position: absolute;

            & .header{

                & > p{
                    font: var(--title-xs);
                    color: var(--pink-light);
                }

                & .price{

                    & p{
                        font: var(--title-md);
                        color: var(--text-title);

                        & small{
                            color: inherit;
                            font: var(--title-xs);
                        }

                        & .lower {
                            position: relative;
                            top: 5px; 
                        }
                    }

                    & p + small{
                        font: var(--body-sm);
                        color: var(--text-label);
                        opacity: .8;

                        & .lower {
                            position: relative;
                            top: 1.5px; 
                        }
                    }
                }
            }

            & li::before{
                background: url('../assets/icons/start-purple.svg') no-repeat center;
                background-size: contain;
            }

            & a{
                background-color: var(--pink-dark);

                &:hover::after {
                    transform: scaleX(1);  
                    opacity: 0.2;
                }
            }

            & a::after {
                content: "";
    
                width: 100%;
                height: 100%;
    
                background-color: var(--pink-light);
    
                position: absolute;
    
                top: 0;
                left: 0;
    
                border-radius: 7px;
    
                transform-origin: center;
    
                transform: scaleX(0);  
                transition: transform 200ms linear;
                
                opacity: 0.2;
            }
        }

        & .card:nth-child(3){  
            z-index: -1;
            transform: translate(9rem , 23rem) rotate(8deg);
            position: absolute;

            & .header{

                & > p{
                    font: var(--title-xs);
                    color: var(--blue-light);
                }

                & .price{

                    & p{
                        font: var(--title-md);
                        color: var(--text-title);

                        & small{
                            color: inherit;
                            font: var(--title-xs);
                        }

                        & .lower {
                            position: relative;
                            top: 5px; 
                        }
                    }

                    & p + small{
                        font: var(--body-sm);
                        color: var(--text-label);
                        opacity: .8;

                        & .lower {
                            position: relative;
                            top: 1px; 
                        }
                    }
                }
            }

            & li::before{
                background: url('../assets/icons/star-blue.svg') no-repeat center;
                background-size: contain;
            }

            & a{
                background-color: var(--blue-dark);

                &:hover::after {
                    transform: scaleX(1);  
                    opacity: 0.2;
                }
            }

            & a::after {
                content: "";
    
                width: 100%;
                height: 100%;
    
                background-color: var(--blue-light);
    
                position: absolute;
    
                top: 0;
                left: 0;
    
                border-radius: 7px;
    
                transform-origin: center;
    
                transform: scaleX(0);  
                transition: transform 200ms linear;
                
                opacity: 0.2;
            }

        }
    }
 
    & .pricing .card:hover{
        background-color: var(--shape-hover);
    }

    & .pricing:not(:hover){
        & .card:nth-child(2){
            background-color: var(--shape-hover);
        }
    }

    & .pricing .card:nth-child(1):hover{
        z-index: 1; 

        transform: translate(-27rem , 22rem) rotate(-8deg);

        box-shadow: 0 30px 50px .5px var(--shape-hover);
    }

    & .pricing .card:nth-child(2):hover{ 
        z-index: 1;
        transform: translate(-9rem , 19rem);
        transition: transform 500ms ease-in-out; 

        box-shadow: 0 30px 50px .5px var(--shape-hover);
    }

    & .pricing .card:nth-child(3):hover{ 
        z-index: 1; 

        transform: translate(9rem , 22rem) rotate(8deg);

        box-shadow: 0 30px 50px .5px var(--shape-hover);
    }

    & .pricing img[src*= "bunny"]{
        position: absolute;
        transform: translate(-6rem, 5.5rem);
        width: 2.8125rem;
        height: 3.125rem;
        transition: transform 500ms ease-in-out;
    }

    & .pricing .card:nth-child(1):hover ~ .stars-1 img:first-child {  
        animation: turnRight 500ms ease-in-out forwards; 
    }

    & .pricing .card:nth-child(1):hover ~ .stars-1 img:last-child {  
        animation: turnLeft 500ms ease-in-out forwards; 
    }

    & .pricing .card:nth-child(3):hover ~ .stars-2 img:first-child {  
        animation: turnLeft2 500ms ease-in-out forwards; 
    }

    & .pricing .card:nth-child(3):hover ~ .stars-2 img:last-child {  
        animation: turnRight2 500ms ease-in-out forwards; 
    }
    
    & .pricing .card:nth-child(2):hover ~ img[src*="bunny"] {
        transform: translate(-6rem, 4.5rem);
        z-index: 2;
    }

    & .pricing .stars-1{
        position: absolute;

        & img:first-child{
            width: 1.625rem;
            height: 1.625rem;
            transform: translate(-30rem, 11rem);
            
            animation: roundReverseRight 500ms ease-in-out;
        }

        & img:last-child{
            width: 0.8125rem;
            height: 0.8125rem;
            transform: translate(-31rem, 12rem);

            animation: roundReverseLeft 500ms ease-in-out;
        }
    }
    
    & .pricing .stars-2{
        position: absolute;

        & img:first-child{
            width: 1.625rem;
            height: 1.625rem;
            transform: translate(26rem, 37.5rem);

            animation: roundReverseLeft2 500ms ease-in-out;
        }
        
        & img:last-child{
            width: 0.8125rem;
            height: 0.8125rem;
            transform: translate(24rem, 38rem);

            animation: roundReverseRight2 500ms ease-in-out;
        }
    }
}

/* ---------- Left Stars -------------*/

@keyframes turnRight {
    from {
        transform: translate(-30rem, 11rem) rotate(0);
    }
    
    to {
        transform: translate(-30rem, 11rem) rotate(-20deg);
    }
}

@keyframes turnLeft {
    from {
        transform: translate(-31rem, 12rem) rotate(0);
    }
    
    to {
        transform: translate(-31rem, 12rem) rotate(20deg);
    }
}

@keyframes roundReverseRight {
    from {
        transform: translate(-30rem, 11rem) rotate(-20deg);
    }

    to {
        transform: translate(-30rem, 11rem) rotate(0deg);
    }
}

@keyframes roundReverseLeft {
    from {
        transform: translate(-31rem, 12rem) rotate(20deg);
    }

    to {
        transform: translate(-31rem, 12rem) rotate(0deg);
    }
}

/* ---------- Right Stars ------------ */

@keyframes turnRight2 {
    from {
        transform: translate(24rem, 38rem) rotate(0);
    }
    
    to {
        transform: translate(24rem, 38rem) rotate(-20deg);
    }
}

@keyframes turnLeft2 {
    from {
        transform: translate(26rem, 37.5rem) rotate(0);
    }
    
    to {
        transform: translate(26rem, 37.5rem) rotate(20deg);
    }
}

@keyframes roundReverseRight2 {
    from {
        transform: translate(24rem, 38rem) rotate(-20deg);
    }

    to {
        transform: translate(24rem, 38rem) rotate(0deg);
    }
}

@keyframes roundReverseLeft2 {
    from {
        transform: translate(26rem, 37.5rem) rotate(20deg);
    }

    to {
        transform: translate(26rem, 37.5rem) rotate(0deg);
    }
}