section.signature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    width: 100%;
    gap: 3.5rem;
    position: relative;

    margin-bottom: 50rem;

    & h2{
        text-align: center;
    }

    & .card{
        border: 1px solid var(--shape-stroke);
        border-radius: 1.5rem;
        background-color: var(--shape-base);
        width: 18rem;
        height: 26rem;

        display: flex;
        flex-direction: column; 
        padding: 2rem;
        position: relative;
        justify-content: space-between;
    }

    & ul{
        display: flex;
        flex-direction: column;
        list-style-type: none; 
        padding-left: 1.5rem;
        gap: .75rem;
    }

    & li{
        position: relative;
        font: var(--body-xs);
        color: var(--text-body);
        opacity: 0.9;
    }

    & li::before{
        content: "";
        position: absolute;
        transform: translateX(-1.5rem); 
        width: .875rem;
        height: .875rem;
    }

    & .pricing{
        display: flex;
        flex-direction: row; 
        position: relative;

        & a{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            color: var(--text-title);
            font: var(--button);
            padding: .75rem;
            border-radius: .5rem;
        }

        & .card .popular{
            position: absolute;
            top: 1.5625rem;
            right: 1.5625rem;
            color: var(--text-body);
            font: var(--tag);

            background-color: var(--shape-stroke);
            border-radius: 9999px;

            padding: 0.5625rem 1.25rem;
        }

        & .price{
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }

        & .header{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        & .content{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        & .card:nth-child(4){  
            z-index: -1;
            transform: translate(0rem , 8rem) rotate(-8deg);

            & .header{

                & > p{
                    font: var(--title-xs);
                    color: var(--blue-light);
                }

                & .price{

                    & p{
                        font: var(--title-md);
                        color: var(--text-title);

                        & small{
                            color: inherit;
                            font: var(--title-xs);
                        }

                        & .lower {
                            position: relative;
                            top: 4px; 
                        }
                    }

                    & p + small{
                        font: var(--body-sm);
                        color: var(--text-label);
                        opacity: .8;

                        & .lower {
                            position: relative;
                            top: 1px; 
                        }
                    }
                }
            }

            & li::before{
                background: url('../assets/icons/star-blue.svg') no-repeat center;
                background-size: contain;
            }

            & a{
                background-color: var(--blue-dark);
            }
        }

        & .card:nth-child(5){  
            transform: translate(0rem , 4rem);

            & .header{

                & > p{
                    font: var(--title-xs);
                    color: var(--pink-light);
                }

                & .price{

                    & p{
                        font: var(--title-md);
                        color: var(--text-title);

                        & small{
                            color: inherit;
                            font: var(--title-xs);
                        }

                        & .lower {
                            position: relative;
                            top: 5px; 
                        }
                    }

                    & p + small{
                        font: var(--body-sm);
                        color: var(--text-label);
                        opacity: .8;

                        & .lower {
                            position: relative;
                            top: 1.5px; 
                        }
                    }
                }
            }

            & li::before{
                background: url('../assets/icons/start-purple.svg') no-repeat center;
                background-size: contain;
            }

            & a{
                background-color: var(--pink-dark);
            }
        }

        & .card:nth-child(6){  
            z-index: -1;
            transform: translate(0rem , 8rem) rotate(8deg);

            & .header{

                & > p{
                    font: var(--title-xs);
                    color: var(--blue-light);
                }

                & .price{

                    & p{
                        font: var(--title-md);
                        color: var(--text-title);

                        & small{
                            color: inherit;
                            font: var(--title-xs);
                        }

                        & .lower {
                            position: relative;
                            top: 5px; 
                        }
                    }

                    & p + small{
                        font: var(--body-sm);
                        color: var(--text-label);
                        opacity: .8;

                        & .lower {
                            position: relative;
                            top: 1px; 
                        }
                    }
                }
            }

            & li::before{
                background: url('../assets/icons/star-blue.svg') no-repeat center;
                background-size: contain;
            }

            & a{
                background-color: var(--blue-dark);
            }

        }
    }

    & .pricing img[src*= "bunny"]{
        position: absolute;
        transform: translate(20rem, 0.9rem);
        width: 2.8125rem;
        height: 3.125rem;
    }

    & .pricing .stars-1{
        position: absolute;

        & img:first-child{
            width: 1.625rem;
            height: 1.625rem;
            transform: translate(-3rem, 8rem);
        }

        & img:last-child{
            width: 0.8125rem;
            height: 0.8125rem;
            transform: translate(-5.5rem, 9.5rem);
        }
    }
    
    & .pricing .stars-2{
        position: absolute;

        & img:first-child{
            width: 1.625rem;
            height: 1.625rem;
            transform: translate(53rem, 35rem);
        }
        
        & img:last-child{
            width: 0.8125rem;
            height: 0.8125rem;
            transform: translate(49.5rem, 36rem);
        }
    }
}